<div class="ui right action left icon input">
  <i class="file icon"></i>
  <input data-autoid="filename" type="text" readonly value={{if fileInfo fileInfo.name "Select manifest file (JSON or YAML)"}} {{action "selectFile"}}>
  <input type="file">
  <button class="ui teal labeled icon {{if validations.isInvalid 'disabled' ''}} button" {{action "action"}} data-autoid="submit-file">
    <i class="add square icon"></i>{{if actionLabel actionLabel "Go"}}
  </button>
</div>
{{#if (and selectionMade validations.isInvalid)}}
<div class="ui negative small message">
  <div data-autoid="error-message">{{validations.messages}}</div>
</div>
{{/if}}
