<div class="ui right action left icon input">
  <i class="file icon"></i>
  <input data-autoid="filename" type="text" readonly value={{if fileName fileName "Select manifest file (JSON or YAML)"}} {{action "selectFile"}}>
  <input type="file" onchange={{perform readFile}}>
  <button class="ui teal labeled icon {{if readFile.isRunning 'loading' ''}} {{if (or validations.isInvalid (not fileText)) 'disabled' ''}} button" {{action "action"}} data-autoid="submit-file">
    <i class="add square icon"></i>{{actionLabel}}
  </button>
</div>

{{#if validations.isInvalid}}
<div class="ui negative small message">
  <div data-autoid="error-message">{{validations.messages}}</div>
</div>
{{/if}}

{{#if fileText}}
<p></p>
<div class="ui form">
  <div class="field">
    <label>File content</label>
    <textarea rows="4" readonly data-autoid="preview">{{fileText}}</textarea>
  </div>
</div>
{{/if}}
