{{#navigation-menu}}
  {{#link-to "settings" class="item"}}
    <i class="setting icon"></i>
    Settings
  {{/link-to}}
  {{#link-to "pods" class="item"}}
    <i class="archive icon"></i>
    Pods
  {{/link-to}}
  {{#link-to "services" class="item"}}
    <i class="configure icon"></i>
    Services
  {{/link-to}}
  {{#link-to "namespaces" class="item"}}
    <i class="square outline icon"></i>
    Namespaces
  {{/link-to}}
  {{#link-to "replication-controllers" class="item"}}
    <i class="angle double up icon"></i>
    ReplicationControllers
  {{/link-to}}
{{/navigation-menu}}
<div class="pusher">
  <div class="main">
    {{#each flashMessages.queue as |flash|}}
      {{#flash-message flash=flash as |component flash|}}
        {{#if flash.componentName}}
          {{component flash.componentName content=flash.content}}
        {{else}}
          <div class="ui {{flash.type}} message">
            <p>{{flash.message}}</p>
          </div>
        {{/if}}
      {{/flash-message}}
    {{/each}}
    <br>
    {{outlet}}
  </div>
</div>
