{{#navigation-menu}}
  {{link-to "Pods" "pods" class="item"}}
  {{link-to "Services" "services" class="item"}}
  {{link-to "Namespaces" "namespaces" class="item"}}
  {{link-to "ReplicationControllers" "replication-controllers" class="item"}}
{{/navigation-menu}}
<div class="pusher">
  <div class="main">
    {{#each flashMessages.queue as |flash|}}
      {{#flash-message flash=flash as |component flash|}}
        {{#if flash.componentName}}
          {{component flash.componentName content=flash.content}}
        {{else}}
          <div class="ui {{flash.type}} message">
            <p>{{flash.message}}</p>
          </div>
        {{/if}}
      {{/flash-message}}
    {{/each}}
    {{outlet}}
  </div>
</div>
