<h4 class="ui horizontal divider header">
  {{node}}
</h4>
<div class="ui grid">
  <div class="two column row">
    <div class="column">
      {{#if poll.isRunning}}
        <div class="ui active mini inline loader"></div>
      {{/if}}
    </div>
    <div class="right aligned column">
    {{#if poll.isRunning}}
      <div class="ui basic teal button" {{action 'cancel'}}>
      Cancel polling
      </div>
    {{else}}
    <div class="ui basic teal button" {{action poll.perform}}>
      Continue polling
    </div>
    {{/if}}
    </div>
  </div>

  <div class="two column row">
    <div class="column">
      {{usage-bar total=stat.cpu.total
                  usage=stat.cpu.usage
                  label="CPU"
                  color="blue"
                  showActivity=poll.isRunning}}
    </div>
    <div class="column">
      {{usage-bar total=stat.memory.total
                  usage=stat.memory.usage
                  label="Memory"
                  color="purple"
                  showActivity=poll.isRunning}}
    </div>
  </div>

  {{#if stat.filesystems}}
  <div class="row">
    <div class="column">
      <table class="ui inverted compact table">
        <thead>
          <tr>
            <th>Storage device</th>
            <th>Percentage</th>
          </tr>
        </thead>
        <tbody>
          {{#each stat.filesystems as |fs|}}
            <tr>
              <td>{{fs.device}}</td>
              <td class="{{if (eq fs.percentage 100) 'error' ''}}">
                {{#if (eq fs.percentage 100)}}
                <i class="attention icon"></i>
              {{/if}}
              {{fs.percentage}}%
              </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{/if}}

</div>
