<div class="ui card">
  <div class="content">
    <i class="right floated square outline icon"></i>
    <div class="header">
      {{node}}
    </div>
    {{usage-bar total=stat.cpu.total usage=stat.cpu.usage label="CPU" color="blue" showActivity=poll.isRunning}}

    {{usage-bar total=stat.memory.total usage=stat.memory.usage label="Memory" color="orange" showActivity=poll.isRunning}}

    {{#if stat.filesystems}}
      <div class="ui inverted segment">
      {{#each stat.filesystems as |fs|}}
        {{usage-bar total=fs.capacity usage=fs.usage inverted=true}}
      {{/each}}
      </div>
    {{/if}}
  </div>
  {{#if poll.isRunning}}
    <div class="ui bottom attached teal button" {{action 'cancel'}}>
    <i class="remove icon"></i>
    Cancel polling
    </div>
  {{else}}
  <div class="ui bottom attached teal button" {{action poll.perform}}>
    <i class="signal icon"></i>
    Continue polling
  </div>
  {{/if}}
</div>
