<h4 class="ui horizontal divider header">
  {{node}}
</h4>
<div class="ui grid">
  <div class="two column row">
    <div class="column">
      {{#if poll.isRunning}}
        <div class="ui active mini inline loader"></div>
      {{/if}}
    </div>
    <div class="right aligned column">
    {{#if poll.isRunning}}
      <div class="ui basic teal button" {{action 'cancel'}}>
      Cancel polling
      </div>
    {{else}}
    <div class="ui basic teal button" {{action poll.perform}}>
      Continue polling
    </div>
    {{/if}}
    </div>
  </div>


  {{#if stats}}
    <div class="two column row">
      <div class="column" data-id="cpu">
        {{usage-bar percent=stat.cpu.percent
                    label="CPU"
                    color="blue"}}
      </div>
      <div class="column" data-id="memory">
        {{usage-bar percent=stat.memory.percent
                    label="Memory"
                    color="purple"}}
      </div>
    </div>

    <div class="row">
      <div class="column">
      {{#if stat.filesystem}}
      <table class="ui inverted compact table">
        <thead>
          <tr>
            <th>Storage device</th>
            <th>Percentage</th>
          </tr>
        </thead>
        <tbody>
          {{#each stat.filesystem as |fs index|}}
            <tr>
              <td>{{fs.device}}</td>
              <td class="{{if (eq fs.percentage 100) 'error' ''}}" data-id="fs-{{index}}">
                {{#if (eq fs.percent 100)}}
                <i class="attention icon"></i>
              {{/if}}
              {{fs.percent}}%
              </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}}
      <div class="ui message">
        <div class="header" data-id="fs-unavailable">
          No storage stats available
        </div>
      </div>
      {{/if}}
      </div>
    </div>
  {{else}}
  <div class="row">
    <div class="column">
      <div class="ui warning message">
        <div class="header" data-id="stats-unavailable">
          No stats available
        </div>
        Verify that the cAdvisor service is up and running at port {{port}}
      </div>
    </div>
  </div>
  {{/if}}

</div>
