<table class="ui compact celled definition table">
  <thead class="full-width">
    <tr>
      <th>Name</th>
      {{#if (not-eq type "namespace")}}
        <th>Namespace</th>
      {{/if}}
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
      {{#each resources as |resource index|}}
      <tr data-autoid="container{{index}}">
        {{#if (eq type "namespace")}}
        <td data-autoid="name{{index}}">{{link-to resource.metadata.name "namespaces.namespace" resource.metadata.name class="header"}}</td>
        {{else}}
        <td data-autoid="name{{index}}">{{link-to resource.metadata.name type resource.metadata.namespace resource.metadata.name class="header"}}</td>
        {{/if}}
        {{#if (not-eq type "namespace")}}
          <td data-autoid="namespace{{index}}">{{resource.metadata.namespace}}</td>
        {{/if}}
        <td data-autoid="timestamp{{index}}">{{resource.metadata.creationTimestamp}}</td>
      </tr>
      {{/each}}
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th colspan="3">
      </th>
    </tr>
  </tfoot>
</table>
