<div class="ui {{state}} {{if inverted 'inverted' ''}} progress" data-percent="{{percent}}">
  <div class="bar">
    <div class="progress"></div>
  </div>
  <div class="label" data-id="label">{{label}} {{if percent '' '(No stats available)'}}</div>
</div>
