{{#if containers}}
  <h4 class="ui horizontal divider header"><i class="cubes icon"></i>Containers</h4>
  {{#each containerList as |container index|}}
  <div class="ui raised segment">
    <table class="ui fixed single line definition table">
      <tbody>
        <tr>
          <td class="three wide">Name</td>
          <td data-autoid="container{{index}}-name">{{container.name}}</td>
        </tr>
        <tr>
          <td>Image</td>
          <td>{{image-name name=container.image}}</td>
        </tr>
        <tr>
          <td>Image pull policy</td>
          <td>{{container.imagePullPolicy}}</td>
        </tr>
        {{#if container.status}}
        <tr>
          <td>Ready?</td>
          <td data-autoid="container{{index}}-ready">
            {{if container.status.ready "Yes" "No"}}
          </td>
        </tr>
        <tr>
          <td>Restart count</td>
          <td data-autoid="container{{index}}-restartCount">
            {{container.status.restartCount}}
          </td>
        </tr>
        <tr>
          <td>Last state</td>
          <td data-autoid="container{{index}}-lastState">
            {{container-state state=container.status.lastState isLast=true}}
          </td>
        </tr>
        <tr>
          <td>State</td>
          <td data-autoid="container{{index}}-state">
            {{container-state state=container.status.state}}
          </td>
        </tr>
        <tr>
          <td>Image ID</td>
          <td data-autoid="container{{index}}-imageID">
            {{container.status.imageID}}
          </td>
        </tr>
        <tr>
          <td>Container ID</td>
          <td data-autoid="container{{index}}-containerID">
            {{container.status.containerID}}
          </td>
        </tr>
        {{/if}}
      </tbody>
    </table>
    {{ports-details ports=container.ports isContainer=true}}
  </div>
  {{/each}}
{{/if}}
