<table class="ui definition table">
  <tbody>
    <tr>
      <td>Node name</td>
      <td data-autoid="node-name">{{spec.nodeName}}</td>
    </tr>
    <tr>
      <td>Using host network?</td>
      <td>{{spec.hostNetwork}}</td>
    </tr>
    <tr>
      <td>Restart policy</td>
      <td>{{spec.restartPolicy}}</td>
    </tr>
    <tr>
      <td>DNS Policy</td>
      <td>{{spec.dnsPolicy}}</td>
    </tr>
    <tr>
      <td>Termination grace period (seconds)</td>
      <td>{{spec.terminationGracePeriodSeconds}}</td>
    </tr>
  </tbody>
</table>

{{#if spec.containers}}
  <h4 class="ui horizontal divider header"><i class="cubes icon"></i>Containers</h4>
  {{#each spec.containers as |container index|}}
  <div class="ui raised segment">
    <div class="ui equal width grid">
      <div class="column">
        <table class="ui definition table">
          <tbody>
            <tr>
              <td>Name</td>
              <td data-autoid="container{{index}}-name">{{container.name}}</td>
            </tr>
            <tr>
              <td>Image</td>
              <td>{{image-name name=container.image}}</td>
            </tr>
            <tr>
              <td>Image pull policy</td>
              <td>{{container.imagePullPolicy}}</td>
            </tr>
            <tr>
              <td>Termination message path</td>
              <td>{{container.terminationMessagePath}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column" data-autoid="container{{index}}-ports">
      {{#if container.ports}}
        {{ports-details ports=container.ports}}
      {{else}}
        <div class="ui segment">
          <p>No ports</p>
        </div>
      {{/if}}
      </div>
    </div>
  </div>
  {{/each}}
{{/if}}
