{{#if isLast}}
  {{title}}
{{else}}
<div class="ui {{className}} message">
  <div class="header">{{title}}</div>
  <ul class="list">
    {{#each details as |detail|}}
      <li><{{detail}}</li>
    {{/each}}
  </ul>
</div>
{{/if}}
