<div class="ui fixed inverted menu">
  <div class="ui container">
    {{#link-to "index" class="item"}}
      <h4 class="ui header"><span class="highlight-white">Kube</span><span class="highlight-blue">ADMIN</span></h4>
    {{/link-to}}
    {{link-to "Namespaces" "namespaces" class="item"}}
    {{link-to "Pods" "pods" class="item"}}
    {{link-to "ReplicationControllers" "replication-controllers" class="item"}}
    {{link-to "Services" "services" class="item"}}
  </div>
</div>
<div class="ui main container">
  {{outlet}}
</div>
