<div class="ui fixed inverted menu">
  <div class="ui container">
    {{#link-to "index" class="item"}}
      Kube<span class="highlight">ADMIN</span>
    {{/link-to}}
    {{link-to "Namespaces" "namespaces" class="item"}}
    <div class="ui labeled input item right">
      <div class="ui basic label">
        Namespace
      </div>
        {{#ui-dropdown class="selection item" onChange=(action 'chooseNamespace')}}
          <div class="default text">{{currentNamespace}}</div>
          <i class="dropdown icon"></i>
          <div class="menu">
          {{#each namespaces as |namespace|}}
            <div class="item" data-id="{{namespace}}">
              {{namespace}}
            </div>
          {{/each}}
          </div>
        {{/ui-dropdown}}
    </div>
  </div>
</div>
<div class="ui secondary pointing menu">
  <div class="ui container">
    {{link-to "Pods" "pods" currentNamespace class="item"}}
    {{link-to "ReplicationControllers" "replication-controllers" currentNamespace class="item"}}
    {{link-to "Services" "services" currentNamespace class="item"}}
  </div>
</div>
