<br>
<div class="ui two column grid">
  <div class="column">
  {{#power-select-multiple
    options=namespaces
    selected=selectedNamespaces
    onchange=(action (mut selectedNamespaces))
    as |namespace|
  }}
    {{namespace}}
  {{/power-select-multiple}}
  </div>
  <div class="column">
    <button {{action "clearFilters"}} class="ui red basic tiny button {{if selectedNamespaces '' 'disabled'}}">
      <i class="remove icon"></i>
      Clear filters
    </button>
  </div>
</div>

<table class="ui compact celled definition table">
  <thead class="full-width">
    <tr>
      <th>Name</th>
      {{#if (not-eq kind "namespace")}}
        <th>Namespace</th>
      {{/if}}
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {{#each resourceList as |resource index|}}
    <tr data-autoid="container{{index}}">
      {{#if (eq kind "namespace")}}
      <td data-autoid="name{{index}}">{{link-to resource.metadata.name "namespaces.namespace" resource.metadata.name class="header"}}</td>
      {{else}}
      <td data-autoid="name{{index}}">{{link-to resource.metadata.name kind resource.metadata.namespace resource.metadata.name class="header"}}</td>
      <td data-autoid="namespace{{index}}">{{resource.metadata.namespace}}</td>
      {{/if}}
      <td data-autoid="timestamp{{index}}">{{moment-from-now resource.metadata.creationTimestamp allow-empty=true}} ({{resource.metadata.creationTimestamp}})</td>
    </tr>
    {{/each}}
  </tbody>
</table>
