<div class="ui labeled button" >
  <div class="ui {{color}} basic button" {{action "test"}}>
    Test connection
  </div>
  <a class="ui basic {{color}} left pointing label">
    <i class="{{icon}} icon"></i>
     {{label}}
  </a>
</div>
