<div class="ui labeled button" >
  <div class="ui {{color}} basic button" {{action "test"}} data-id="test">
    Test connection
  </div>
  <div class="ui basic {{color}} left pointing label" data-id="result">
    <i class="{{icon}} icon"></i>
     {{label}}
  </div>
</div>
