<div class="ui right action left icon input">
  <i class="file icon"></i>
  <input type="text" readonly value={{if fileInfo fileInfo.name "Select JSON manifest"}} {{action "selectFile"}}>
  <input type="file" id="blah">
  <button class="ui teal labeled icon button" {{action "action"}} data-autoid="submit">
    <i class="add square icon"></i>{{if actionLabel actionLabel "Go"}}
  </button>
</div>
{{#if errorMessage}}
<div class="ui negative small message">
  <div data-autoid="error-message">{{errorMessage}}</div>
</div>
{{/if}}
