<ul class="nav nav-pills nav-stacked">
  {{#each model.items as |namespace|}}
  <div>{{namespace.metadata.name}}</div>
  <li class="nav-item">
    {{link-to "Pods" "pods" namespace.metadata.name class="nav-link"}}
  </li>
  <li class="nav-item">
    {{link-to "ReplicationControllers" "replication-controllers" namespace.metadata.name class="nav-link"}}
  </li>
  <li class="nav-item">
    {{link-to "Services" "services" namespace.metadata.name class="nav-link"}}
  </li>
  <div class="divider"></div>
  {{/each}}
</ul>
{{outlet}}
